<mat-toolbar color="primary">
  <button mat-icon-button routerLink="/admin-dashboard">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>Add Occasion</span>
  <span class="flex-1"></span>
  <button mat-raised-button color="accent" class="text-lg" (click)="onSubmit()">
    Save
  </button>
  <button
    mat-flat-button
    color="warn"
    class="text-lg ml-2"
    routerLink="/admin-dashboard">
    Cancel
  </button>
</mat-toolbar>

<div class="p-6">
  <form [formGroup]="addOccasionForm">
    <div class="container mx-auto">
      <div class="flex flex-wrap">
        <div class="w-full">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Occasion</mat-label>
            <input matInput formControlName="occasion">
          </mat-form-field>
        </div>

        <div class="w-full md:w-1/2 pr-2">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Day</mat-label>
            <input matInput formControlName="day">
          </mat-form-field>
        </div>

        <div class="w-full md:w-1/2 pl-2">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Month</mat-label>
            <mat-select formControlName="month">
              <mat-option
                [value]="i"
                *ngFor="let month of months; let i = index;">
                {{ month }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="w-full">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Occasion Image URL</mat-label>
            <input
              matInput
              type="file"
              accept="image/*"
              (change)="onFileSelected($event)"
              formControlName="imageName">
          </mat-form-field>
          <div class="mt-2">
            <img [src]="imageToDisplay" class="max-w-xs h-auto" *ngIf="imageToDisplay">
          </div>
        </div>

        <div class="w-full">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Special Event's Short Description</mat-label>
            <textarea
              matInput
              formControlName="description"
              rows="2"
              cdkTextareaAutosize>
            </textarea>
          </mat-form-field>
        </div>

        <div class="w-full md:w-1/2">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>External Link</mat-label>
            <input matInput formControlName="showMoreLink">
          </mat-form-field>
        </div>
      </div>
    </div>
  </form>
</div>
