<div *ngIf="aqiData$ | async as aqiData" class="container mx-auto">
  <div class="flex flex-wrap">
    <div class="w-full">
      <mat-card>
        <mat-card-content class="aqi-data-card">
          <div class="flex flex-wrap">
            <div class="w-full">
              <p class="aqi-station-name">
                Station: {{ aqiData.city.name | titlecase }}
              </p>
            </div>
          </div>
          <div class="flex flex-wrap">
            <div class="w-1/2">
              <p class="aqi-level-card" [ngClass]="aqiColor(aqiData.aqi)">
                AQI : {{ aqiData.aqi }}
              </p>
            </div>
            <div class="w-1/2">
              <p class="dominent-pollutant">
                Dominent Pollutant: {{ aqiData.dominentpol | uppercase }}
              </p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <!-- Parameters data -->
  <div scrollY="true" class="wiof-aqi-widget-items">
    <div class="flex flex-wrap">
      <div
        class="w-1/3 md:w-1/2 lg:w-1/3 xl:w-1/4"
        *ngFor="let parameter of getAqiParameters(aqiData.iaqi)"
      >
        <mat-card class="card-non-aqi">
          <mat-card-header>
            <p class="aqi-parameter">
              {{ parameter[0] | uppercase }}
            </p>
          </mat-card-header>
          <mat-card-content>
            <p class="aqi-parameter-value">
              {{ parameter[1].v | number: '1.0-1' }}
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="flex flex-wrap">
      <div class="w-full">
        <p class="p-4">
          Data Credit:&nbsp;<a
            href="https://waqi.info/"
            target="_blank"
            class="data-credit"
            >World Air Quality Index Project</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
