<app-header></app-header>
<div class="p-4">
  <div class="container mx-auto">
    <div class="flex flex-wrap">
      <div class="w-full lg:w-2/3 lg:mx-auto">
        <div class="video-container">
          <div class="flex flex-wrap" *ngIf="(urlSafe)">
            <div class="w-full">
              <h1>{{videoTitle}}</h1>
            </div>
            <div class="w-full video-player-col">
              <iframe
                [title]="videoTitle"
                class="videoPlayer"
                [src]="urlSafe"
                allowfullscreen
              ></iframe>
            </div>
            <div class="w-1/2">
              <app-back-button></app-back-button>
            </div>
            <div class="w-1/2">
              <app-social-share></app-social-share>
            </div>
            <hr class="w-full my-4">
            <div class="w-full">
              <span class="text-gray-700"
                >Video Credit (Youtube Channel): {{videoChannelName}}</span
              >
            </div>
            <div class="w-full">
              <span
                class="text-justify text-gray-700"
                style="text-justify: inter-word;"
                [ngClass]="{'video-description-content-hide':showFullVideoDescription}"
                *ngIf="videoDescription"
                >Description: {{videoDescription}}</span
              >
            </div>
            <div class="w-full text-right">
              <p
                class="toggleVideoDescription"
                *ngIf="showFullVideoDescription"
                (click)="toggleVideoDescription()"
              >
                Show More
              </p>
              <p
                class="toggleVideoDescription"
                *ngIf="!showFullVideoDescription"
                (click)="toggleVideoDescription()"
              >
                Show Less
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-wiof-footer></app-wiof-footer>
</div>
