<mat-card class="wiof-aqi-widget-card-background widget-height">
  <mat-card-header class="wiof-aqi-widget-card-header">
    <mat-card-title class="title-text">
      AQI Widget
      <!-- <mat-icon>info</mat-icon> -->
    </mat-card-title>
  </mat-card-header>
  <div class="aqi-widget-contents">
    <div class="flex flex-wrap">
      <div class="w-full">
        <a style="cursor: pointer" (click)="about = !about">
          About AQI Widget
          <mat-icon *ngIf="!about">expand_more</mat-icon
          ><mat-icon *ngIf="about">expand_less</mat-icon
        ></a>
        <p *ngIf="about" style="text-align: justify; color: #2d2d2d">
          Air Quality Index or AQI is an Indicator of the status of air at a
          certain location. It simplifies the communication of Air quality to
          general people making it easier for them to understand. Air quality at
          a certain place consists of data of various pollutants and hence it is
          not easy for general public to understand the complex data, AQI on the
          other hand simplifies the data by expressing the whole data in a
          single value.
        </p>
      </div>
    </div>
    <mat-toolbar class="wiof-aqi-widget-card-toolbar bg-wiof-air">
      <button
        class="wiof-primary-btn"
        [ngClass]="{ active: !searchLocationTabSelect }"
        (click)="loadMajorCitiesDiv()"
      >
        <mat-icon>location_city</mat-icon>Major Cities
      </button>
      <button
        class="wiof-primary-btn"
        [ngClass]="{ active: searchLocationTabSelect }"
        (click)="loadSearchLocationDiv()"
      >
        <mat-icon>search</mat-icon>Search Location
      </button>
      <!-- <button
      class="wiof-primary-btn"
      slot="start"
      target="_blank"
      href="https://waqi.info/forecast/#/!pol:pm25"
    >
      <ion-icon name="open-outline"></ion-icon> AQI Forecast
    </button> -->

      <!-- <button mat-raised-button
      target="_blank"
      href="https://waqi.info/forecast/#/!pol:pm25"
      >AQI Forecast <ion-icon name="open-outline"></ion-icon
    ></button> -->
      <!-- future use new window aqi map view button -->
      <!-- <button mat-raised-button><ion-icon name="browsers-outline"></ion-icon></button> -->
    </mat-toolbar>
    <mat-toolbar
      class="wiof-aqi-widget-card-toolbar bg-wiof-air"
      *ngIf="!searchLocationTabSelect"
    >
      <div class="w-full">
        <mat-form-field class="w-full">
          <mat-label>Location</mat-label>
          <mat-select
            [(ngModel)]="selectedLocation"
            placeholder="Select Location"
          >
            <mat-option
              *ngFor="let majorLocation of majorLocations"
              [value]="majorLocation"
              >{{ majorLocation | titlecase }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
    </mat-toolbar>

    <ion-toolbar
      color="air"
      class="wiof-aqi-widget-card-toolbar"
      *ngIf="searchLocationTabSelect"
    >
      <div class="flex flex-wrap">
        <div class="w-2/3">
          <mat-form-field class="w-full">
            <mat-label>Enter Location</mat-label>
            <input
              matInput
              [(ngModel)]="searchLocation"
              placeholder="Enter Location"
            />
          </mat-form-field>
        </div>
        <div class="w-1/3">
          <button
            class="wiof-primary-btn full-width full-height no-margin"
            style="border-radius: 0; min-width: 100%"
            (click)="searchByLocation()"
          >
            Search
          </button>
        </div>
      </div>
      <div *ngIf="searchLocationClickedFlag">
        <div scrollY="true" class="wiof-aqi-widget-items">
          <div
            *ngIf="
              searchLocationResults | async as locationsFound;
              else loading
            "
          >
            <!-- <p> {{locationsFound.data|json}} </p> -->
            <div *ngIf="!locationsFound.data[0]">
              <p style="color: red">
                AQI data for this location is not available.
              </p>
              <p style="color: grey">Please search for another location.</p>
            </div>
            <div *ngIf="locationsFound.data[0]">
              <mat-list>
                <mat-list-item>
                  <strong class="wiof-aqi-search-result-expand">
                    Station Name (Click on location for AQI details) </strong>
                  <strong class="ml-auto">AQI</strong>
                </mat-list-item>

                <mat-list-item *ngFor="let location of locationsFound.data">
                  <span class="wiof-aqi-search-result-expand">{{
                    location.station.name
                  }}</span>
                  <span
                    class="aqi ml-auto"
                    [ngClass]="aqiColor(location.aqi)"
                    >{{ location.aqi }}</span
                  >
                </mat-list-item>
              </mat-list>
            </div>
          </div>
          <ng-template #loading> Fetching locations... </ng-template>
        </div>
      </div>
    </ion-toolbar>
    <mat-card-content style="padding: 5px">
      <app-aqi-scorecard
        *ngIf="showAqiScorecard"
        [locationUrl]="selectedLocation"
      ></app-aqi-scorecard>
    </mat-card-content>
  </div>
</mat-card>
