<ion-card class="wiof-ngo-in-focus-container" *ngIf="ngosInFocus?.length > 0">
  <ion-card-header class="ion-align-center wiof-slider-header">
    <ion-row>
      <ion-col class="title-text" size="12">Firm in Focus</ion-col>
    </ion-row>
  </ion-card-header>
  <ion-card-content class="ion-no-padding background">
    <ion-slides #slider [options]="slideOpts">
      <ion-slide *ngFor="let ngoInFocus of ngosInFocus">
        <ion-grid class="ion-no-padding">
          <ion-row>
            <ion-col size="12" class="media-container">
              <div class="media-inner">
                <img
                  class="media-player"
                  [src]="ngoInFocus.image$ | async"
                  alt="Image for {{ ngoInFocus.ngoName }}"
                  *ngIf="ngoInFocus.mediaType == 'image'"
                />
                <div class="video-wrap" *ngIf="ngoInFocus.mediaType == 'video'">
                  <iframe
                    class="media-player"
                    [title]="'Video for Ngo ' + ngoInFocus.ngoName"
                    [src]="ngoInFocus.sanitizedLink"
                    allowfullscreen
                  ></iframe>
                </div>
              </div>
            </ion-col>

            <ion-col size="12" class="ion-padding ngo-text-col">
              <div class="ngo-header">
                <img
                  [src]="ngoInFocus.logoImage$ | async"
                  class="logo"
                  [alt]="ngoInFocus.ngoName + ' logo'"
                />
                <div class="ngo-title">
                  <h2><strong>{{ ngoInFocus.ngoName }}</strong></h2>
                </div>
              </div>

              <p>
                <span class="font-weight-medium">Key Activities/Work Areas</span>:
                <span
                  class="home-key-tag"
                  *ngFor="let activity of ngoInFocus.keyActivities.split(',')"
                  >{{ activity }}</span
                >
              </p>

              <p class="ngo-description ion-margin-vertical">
                {{ ngoInFocus.description }}
              </p>

              <p class="cta-row">
                <a
                  [href]="ngoInFocus.knowMoreLink"
                  target="_blank"
                  rel="noopener"
                  class="wiof-primary-link"
                  >Visit Website</a
                >
              </p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>
    </ion-slides>
    <div
      *ngIf="ngosInFocus.length > 1"
      class="swiper-button-prev navigation-arrow-custom-styling"
      (click)="slider.slidePrev()"
    ></div>
    <div
      *ngIf="ngosInFocus.length > 1"
      class="swiper-button-next navigation-arrow-custom-styling"
      (click)="slider.slideNext()"
    ></div>
  </ion-card-content>
</ion-card>
