<mat-card class="wiof-ngo-in-focus-container" *ngIf="ngosInFocus?.length > 0">
  <mat-card-header class="items-center wiof-slider-header">
    <div class="flex flex-wrap">
      <div class="w-full title-text">NGO in Focus</div>
    </div>
  </mat-card-header>
  <mat-card-content class="p-0 background">
    <ion-slides #slider [options]="slideOpts">
      <ion-slide *ngFor="let ngoInFocus of ngosInFocus">
        <div class="container mx-auto">
          <div class="flex flex-wrap">
            <div class="w-full lg:w-1/2 text-center media-container">
              <img
                class="media-player"
                [src]="ngoInFocus.image$ | async"
                alt=""
                *ngIf="ngoInFocus.mediaType == 'image'"
              />
              <iframe
                class="media-player"
                [title]="'Video for Ngo ' + ngoInFocus.ngoName"
                [src]="ngoInFocus.sanitizedLink"
                *ngIf="ngoInFocus.mediaType == 'video'"
              ></iframe>
            </div>
            <div
              class="w-full lg:w-1/2 p-4 text-left"
            >
              <img
                [src]="ngoInFocus.logoImage$ | async"
                class="logo"
                alt=""
              /><br />
              <h2>
                <strong>
                  {{ ngoInFocus.ngoName }}
                </strong>
              </h2>
              <p>
                <span class="font-weight-medium">Key Activities/Work Areas</span
                >:
                <span
                  class="home-key-tag"
                  *ngFor="let activity of ngoInFocus.keyActivities.split(',')"
                  >{{ activity }}</span
                >
              </p>
              <p class="ngo-description my-4">
                {{ ngoInFocus.description }}
              </p>
              <p>
                <a
                  [href]="ngoInFocus.knowMoreLink"
                  target="_blank"
                  class="wiof-primary-link"
                  >Know More</a
                >
              </p>
            </div>
          </div>
        </div>
      </ion-slide>
    </ion-slides>
    <div
      *ngIf="ngosInFocus.length > 1"
      class="swiper-button-prev navigation-arrow-custom-styling"
      (click)="slider.slidePrev()"
    ></div>
    <div
      *ngIf="ngosInFocus.length > 1"
      class="swiper-button-next navigation-arrow-custom-styling"
      (click)="slider.slideNext()"
    ></div>
  </mat-card-content>
</mat-card>
