<mat-toolbar color="primary">
  <div class="flex flex-wrap w-full">
    <div class="flex-1 self-start p-0">
      <div class="toolbar-background-wrapper pl-1">
        <div class="menu-button-toggle flex">
          <!-- uncomment when have to add menu and links in header-->
          <!-- <ion-menu-button>
            <ion-icon name="menu-outline" menuId="wiof-menu"></ion-icon>
          </ion-menu-button> -->
        </div>
        <span routerLink="/home" class="cursor-pointer p-0">
          <img class="h-14 float-left" alt="World is one family logo" [src]="wiofLogo">
        </span>
      </div>
    </div>
    <!-- uncomment when have to add menu and links in header-->

    <div class="flex-1 self-end p-0">
      <div class="toolbar-background-wrapper">
        <div class="flex justify-end">
          <!-- <ion-button>
            Lifestyle
          </ion-button>
          <ion-button>
            Environment
          </ion-button>
          <ion-button>
            Take Action
          </ion-button>
          <ion-button>
            Contribute
          </ion-button> -->

          <button mat-button routerLink="/aboutus"> About Us </button>
        </div>
      </div>
    </div>
    <!-- <div class="flex-1 self-end">
      <ion-searchbar showCancelButton="focus"></ion-searchbar>
    </div> -->
  </div>
</mat-toolbar>
