<div *ngIf="!showResult">
  <div
    class="eq-user-response"
    *ngFor="let question of questions; let i = index"
    [formGroup]="userResponse"
  >
    <p>{{ i + 1 }} ) {{ question }}</p>
    <div class="flex items-center p-4 border rounded">
      <span class="text-wiof-home mr-2">1</span>
      <input
        type="range"
        min="1"
        max="5"
        step="1"
        [formControlName]="getFormControlName(i)"
        class="flex-1 mx-2 accent-wiof-home"
      />
      <span class="text-wiof-home ml-2">5</span>
    </div>
  </div>
</div>

<div
  class="text-center mt-4 mb-4"
  *ngIf="!showResult"
>
  <button class="wiof-primary-btn" (click)="onSubmit()">Submit</button>
  <button class="wiof-secondary-btn" (click)="onBack()">Back</button>
</div>

<div *ngIf="showResult">
  <p class="eq-meter-heading">Your emotional intelligence is:</p>
  <div class="flex flex-wrap result-box">
    <div class="w-full md:w-1/2 p-2">
      <p class="eq-meter-heading">
        Attention: {{ this.results[0] | number: '1.0-2' }}%
      </p>
      <app-eq-widget-test [gpr]="['m', '1', results[0]]"></app-eq-widget-test>
    </div>
    <div class="w-full md:w-1/2 p-2">
      <p class="eq-meter-heading">
        Clarity: {{ this.results[1] | number: '1.0-2' }}%
      </p>
      <app-eq-widget-test [gpr]="['m', '2', results[1]]"></app-eq-widget-test>
    </div>
    <div class="w-full md:w-1/2 md:mx-auto p-2">
      <p class="eq-meter-heading">
        Reparation: {{ this.results[2] | number: '1.0-2' }}%
      </p>
      <app-eq-widget-test [gpr]="['m', '3', results[2]]"></app-eq-widget-test>
    </div>
  </div>
  <div class="flex flex-wrap">
    <div class="w-full eq-param-desc">
      <p>Attention: {{ result1msg }}</p>
      <p>Clarity: {{ result2msg }}</p>
      <p>Reparation: {{ result3msg }}</p>
    </div>
  </div>
  <div class="text-center pt-4 pb-4">
    <button class="wiof-primary-btn" (click)="showResult = false">
      Take Again
    </button>
  </div>
</div>
