<mat-toolbar color="primary">
  <button mat-icon-button routerLink="/admin-dashboard">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>View Subscribers</span>
  <!-- <div class="flex-1"></div>
  <button mat-raised-button color="accent" (click)="refreshData()">
    <mat-icon>refresh</mat-icon>
    Refresh
  </button>
  <button mat-raised-button color="primary" (click)="addNewPoll()">
    <mat-icon>add</mat-icon>
    Add New Poll
  </button> -->
</mat-toolbar>

<div class="p-4">
  <div class="container mx-auto" *ngIf="subscribersJson">
    <div class="flex flex-wrap item-divider-line">
      <div class="w-full md:w-1/2 self-center">
        <strong>Subscribers List</strong>
      </div>
      <div class="w-full md:w-1/2 self-center">
        <button mat-raised-button color="primary" (click)="generateExcel()">
          <mat-icon>cloud_download</mat-icon>
          Export List
        </button>
      </div>
    </div>
    <div class="flex flex-wrap">
      <div class="w-full">
        <table border="1">
          <tr>
            <th class="table-heading">Sr</th>
            <th class="table-heading">First Name</th>
            <th class="table-heading">Last Name</th>
            <th class="table-heading">Email Id</th>
            <th class="table-heading">Subscription Date and Time</th>
          </tr>
          <tr *ngFor="let subscriber of subscribersJson; let i = index">
            <td class="table-data">{{ i + 1 }}</td>
            <td class="table-data">{{subscriber.firstName|titlecase}}</td>
            <td class="table-data">{{subscriber.lastName|titlecase}}</td>
            <td class="table-data">{{subscriber.email}}</td>
            <td class="table-data" *ngIf="subscriber.datetime">
              {{subscriber.datetime}}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
