<div class="wiof-social-share-container">
  <div class="w-full">
    <a [href]="facebookShareLink" target="_blank" class="facebook-btn">
      <i class="fab fa-facebook"></i>
      <mat-icon>facebook</mat-icon>
    </a>
    <a [href]="twitterShareLink" target="_blank" class="twitter-btn">
      <mat-icon>twitter</mat-icon>
    </a>
    <a [href]="linkedinShareLink" target="_blank" class="linkedin-btn">
      <mat-icon>linkedin</mat-icon>
    </a>
    <a [href]="whatsappShareLink" target="_blank" class="whatsapp-btn">
      <mat-icon>whatsapp</mat-icon>
    </a>
  </div>
</div>

<!-- 
  <a href="#" class="pinterest-btn">
   

  </a> -->
