<ion-card
  *ngIf="coursesInFocus?.length > 0"
  class="wiof-course-in-focus-container"
>
  <ion-card-header class="ion-align-center wiof-slider-header">
    <ion-card-title class="title-text">Course in Focus</ion-card-title>
  </ion-card-header>
  <ion-card-content class="background ion-no-padding">
    <div *ngIf="coursesInFocus; else loading" class="slides-wrapper">
      <ion-slides #slider [options]="slideOpts">
        <ion-slide *ngFor="let courseInFocus of coursesInFocus">
          <ion-card class="ion-no-padding ion-no-margin" style="box-shadow: none">
            <ion-card-content class="ion-no-padding">
        
              <!-- IMAGE ON TOP -->
              <div class="course-media-container">
                <img
                  class="course-media"
                  [src]="courseInFocus.image$ | async"
                  alt=""
                />
              </div>
        
              <!-- CONTENT BELOW -->
              <div class="course-content">
                <h2><strong>{{ courseInFocus.name }}</strong></h2>
        
                <p><span>Offered By</span>: {{ courseInFocus.offeredBy }}</p>
                <p><span>Platform</span>: {{ courseInFocus.platform }}</p>
                <p><span>Duration</span>: {{ courseInFocus.duration }}</p>
                <p><span>Approx. Cost</span>: {{ courseInFocus.approxCost }}</p>
        
                <p>
                  <span>Key Topics</span>:
                  <span
                    class="home-key-tag"
                    *ngFor="let topic of courseInFocus.keyTopics.split(',')"
                  >
                    {{ topic }}
                  </span>
                </p>
        
                <p class="course-description">
                  {{ courseInFocus.description }}
                </p>
        
                <a
                  [href]="courseInFocus.link"
                  target="_blank"
                  class="wiof-primary-link"
                >
                  Know More
                </a>
              </div>
        
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
      <div 
        *ngIf="coursesInFocus.length > 1"
        class="swiper-button-prev navigation-arrow-custom-styling"
        (click)="slider.slidePrev()"
      ></div>
      <div
        *ngIf="coursesInFocus.length > 1"
        class="swiper-button-next navigation-arrow-custom-styling"
        (click)="slider.slideNext()"
      ></div>
    </div>
    <ng-template #loading>
      <app-wiof-spinner></app-wiof-spinner>
    </ng-template>
  </ion-card-content>
</ion-card>
