<div class="blog-slider-section" *ngIf="blogList && blogList.length > 0">

  <!-- Inline actions (list view / take action) -->
  <div class="blog-slider-actions">
    <a
      [routerLink]="['blogs']"
      class="action-link"
      title="View all blogs"
      aria-label="View all blogs"
    >
      View All <ion-icon name="arrow-forward-outline"></ion-icon>
    </a>
  </div>

  <!-- Slider -->
  <div *ngIf="blogList; else loading" class="slider-wrap">
    <ion-slides #wiofBlogSlider [options]="slideOpts">
      <ion-slide *ngFor="let blog of blogList">
        <app-blog-card [blog]="blog" [element]="element"></app-blog-card>
      </ion-slide>
    </ion-slides>

    <div
      class="nav-btn nav-prev"
      (click)="wiofBlogSlider.slidePrev()"
      *ngIf="showNavigator()"
    >
      <ion-icon name="chevron-back"></ion-icon>
    </div>
    <div
      class="nav-btn nav-next"
      (click)="wiofBlogSlider.slideNext()"
      *ngIf="showNavigator()"
    >
      <ion-icon name="chevron-forward"></ion-icon>
    </div>
  </div>

  <ng-template #loading>
    <div class="loading-wrap">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  </ng-template>
</div>
