<div class="blog-slider-section" *ngIf="blogList && blogList.length > 0">

  <!-- Inline actions (list view / take action) -->
  <div class="blog-slider-actions">
    <a
      [routerLink]="['blogs']"
      class="action-link"
      title="View all blogs"
      aria-label="View all blogs"
    >
      View All <ion-icon name="arrow-forward-outline"></ion-icon>
    </a>
  </div>

  <!-- Slider -->
  <div *ngIf="blogList; else loading" class="slider-wrap">
    <swiper-container
      #swiperRef
      [attr.slides-per-view]="4"
      [attr.space-between]="10"
      [attr.free-mode]="true"
      breakpoints='{"0":{"slidesPerView":1},"480":{"slidesPerView":2},"767":{"slidesPerView":3},"1024":{"slidesPerView":4}}'
    >
      <swiper-slide *ngFor="let blog of blogList">
        <app-blog-card [blog]="blog" [element]="element"></app-blog-card>
      </swiper-slide>
    </swiper-container>

    <button class="swiper-nav-btn prev" (click)="swiperRef.swiper.slidePrev()" *ngIf="showNavigator()">
      <ion-icon name="chevron-back"></ion-icon>
    </button>
    <button class="swiper-nav-btn next" (click)="swiperRef.swiper.slideNext()" *ngIf="showNavigator()">
      <ion-icon name="chevron-forward"></ion-icon>
    </button>
  </div>

  <ng-template #loading>
    <div class="loading-wrap">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  </ng-template>
</div>
