<mat-toolbar color="primary">
  <button mat-icon-button routerLink="/admin-dashboard">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>Add Blog</span>
  <span class="flex-1"></span>
  <div class="flex gap-2">
    <button mat-raised-button color="accent" class="text-lg" (click)="onSubmit()">
      Save
    </button>
    <button
      mat-flat-button
      color="warn"
      class="text-lg"
      routerLink="/admin-dashboard">
      Cancel
    </button>
  </div>
</mat-toolbar>

<div class="p-4">
  <form [formGroup]="addBlogForm">
    <div class="container mx-auto">
      <div class="flex flex-wrap">
        <div class="w-full md:w-1/2 p-2">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Blog Title</mat-label>
            <input matInput formControlName="title">
          </mat-form-field>
        </div>

        <div class="w-full md:w-1/2 p-2">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Author Name</mat-label>
            <input matInput formControlName="authorName">
          </mat-form-field>
        </div>

        <div class="w-full md:w-1/2 p-2">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Category</mat-label>
            <mat-select formControlName="category">
              <mat-option
                [value]="category"
                *ngFor="let category of categories"
                >{{ category }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>

        <div class="w-full md:w-1/2 p-2">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Sub Category</mat-label>
            <input matInput formControlName="subCategory">
          </mat-form-field>
        </div>

        <div class="w-full p-2">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Blog Image</mat-label>
            <input
              matInput
              type="file"
              accept="image/*"
              (change)="onFileSelected($event)"
              formControlName="image"
            >
          </mat-form-field>
          <div><img [src]="imageToDisplay" class="max-w-xs mt-2"></div>
        </div>

        <div class="w-full p-2">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Blog Short Description</mat-label>
            <textarea
              matInput
              formControlName="shortDescription"
              rows="2"
            ></textarea>
          </mat-form-field>
        </div>
        <div class="w-full p-2">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>About Author</mat-label>
            <textarea
              matInput
              formControlName="aboutAuthor"
              rows="2"
            ></textarea>
          </mat-form-field>
        </div>

        <div class="w-full p-2">
          <div class="mb-2">
            <label class="text-sm font-medium text-gray-700">Blog Content</label>
          </div>
          <quill-editor formControlName="content"></quill-editor>
        </div>
      </div>
    </div>
  </form>
</div>
