<ion-card class="blog-card" [routerLink]="['blog', blog.id]" [ngClass]="element">
  <div class="blog-image-wrap">
    <img
      [src]="blog.image$ | async"
      [alt]="blog.title"
      class="blog-image"
    />
    <div class="blog-image-overlay"></div>
  </div>

  <div class="blog-body">
    <h3 class="blog-title">
      <a class="link-title">{{ blog.title }}</a>
    </h3>
    <p class="blog-excerpt">{{ blog.shortDescription }}</p>
    <div class="blog-meta">
      <span class="blog-author">
        <ion-icon name="person-outline"></ion-icon>
        {{ blog.author }}
      </span>
      <span class="blog-read-time">
        <ion-icon name="time-outline"></ion-icon>
        {{ blog.timeToRead }} min read
      </span>
    </div>
  </div>
</ion-card>
