<mat-card class="blog-card cursor-pointer" [routerLink]="['blog', blog.id]">
  <mat-card-content class="text-left card-content">
    <div class="img-container">
      <img [src]="blog.image$ | async" alt="" />
    </div>
    <div class="p-4">
      <h3 class="blog-card-title">
        <a class="link-title">{{ blog.title }}</a>
      </h3>
      <div>
        <small class="author-name" [attr.aria-label]="'author ' + blog.author"
          >by {{ blog.author }}</small
        >
        <small class="time-to-read"
          ><mat-icon>schedule</mat-icon>{{ blog.timeToRead }} min read</small
        >
      </div>
      <div></div>
    </div>
    <p class="blog-card-content px-4">
      {{ blog.shortDescription }}
    </p>
  </mat-card-content>
</mat-card>
