<mat-toolbar color="primary">
  <button mat-icon-button routerLink="/admin-dashboard">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>Manage Course In Focuses</span>
  <span class="flex-1"></span>
  <div class="flex gap-2">
    <button mat-stroked-button color="accent" (click)="refreshData()">
      <mat-icon>refresh</mat-icon>
      Refresh
    </button>
    <button mat-raised-button color="accent" (click)="addCourseInFocus()">
      <mat-icon>add</mat-icon>
      Add New In Focus
    </button>
  </div>
</mat-toolbar>

<div class="p-4">
  <div class="container mx-auto" *ngIf="courseInFocusList$ | async as courseInFocuses">
    <div class="flex flex-wrap item-divider-line">
      <div class="w-full"
        ><strong>Total Items: {{courseInFocuses.length}}</strong></div
      >
    </div>
    <div class="flex flex-wrap item-divider-line">
      <div class="w-full md:w-2/12 self-center"
        ><strong>Course Name</strong></div
      >
      <div class="w-full md:w-3/12 self-center"
        ><strong>Key Topics</strong></div
      >
      <div class="w-full md:w-1/12 self-center"
        ><strong>Category</strong></div
      >
      <div class="w-full md:w-1/12 self-center"
        ><strong>Status</strong></div
      >
      <div class="w-full md:w-1/12"><strong>Submit Date</strong></div>
      <div class="w-full md:w-1/12"><strong>Publish Date</strong></div>
      <div class="w-full md:w-1/12"><strong>Unpublish Date</strong></div>
      <div class="w-full md:w-2/12"
        ><strong class="action-heading">Actions</strong></div
      >
    </div>
    <div
      *ngFor="let courseInFocus of courseInFocuses; let i = index"
      class="flex flex-wrap item-divider-line"
    >
      <div class="w-full md:w-2/12 self-center"
        >{{ i + 1 }}.
        <a [href]="courseInFocus.link" target="_blank"
          >{{ courseInFocus.name }}</a
        ></div
      >
      <div class="w-full md:w-3/12 self-center"
        >{{ courseInFocus.keyTopics }}</div
      >
      <div class="w-full md:w-1/12 self-center"
        >{{ courseInFocus.category | uppercase}}</div
      >
      <div class="w-full md:w-1/12 self-center"
        >{{courseInFocus.status | uppercase}}</div
      >
      <div class="w-full md:w-1/12 self-center"
        >{{courseInFocus.submitDate | date}}</div
      >
      <div class="w-full md:w-1/12 self-center"
        >{{courseInFocus.publishDate | date}}</div
      >
      <div class="w-full md:w-1/12 self-center"
        >{{courseInFocus.unpublishDate | date}}</div
      >
      <div class="w-full md:w-2/12">
        <div class="flex gap-1">
          <button
            mat-icon-button
            *ngIf="courseInFocus.status == 'submitted'"
            title="Click to Publish Course In Focus"
            (click)="publishCourseInFocus(courseInFocus.id)"
          >
            <mat-icon>rocket_launch</mat-icon>
          </button>
          <button
            mat-icon-button
            (click)="publishCourseInFocus(courseInFocus.id)"
            *ngIf="courseInFocus.status == 'inactive'"
            disabled
          >
            <mat-icon class="status-inactive">rocket_launch</mat-icon>
          </button>
          <button
            mat-icon-button
            *ngIf="courseInFocus.status == 'published'"
            title="Published Course In Focus"
          >
            <mat-icon class="status-published">rocket_launch</mat-icon>
          </button>
          <button
            mat-icon-button
            title="Click to view in focus details"
            (click)="viewCourseInFocusDetails(courseInFocus)"
          >
            <mat-icon>visibility</mat-icon>
          </button>
          <button
            mat-icon-button
            (click)="deleteCourseInFocus(courseInFocuses, i, courseInFocus)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
