@import '../../wiof-custom-theming.scss';

.take-action-content {
  height: 650px;
  margin: 0 auto;

  ion-card-title {
    text-align: center;
  }

  ion-card-header {
    background-color: var(--wiof-teal);
  }

  .action-sub-heading {
    text-align: center;
    font-size: 16px;
    padding: 10px;
  }

  .actions-container {
    height: 500px;
    overflow: auto;
    margin: 10px;
  }

  .action-card {
    height: 100%;
    margin: 5px;
    border: 1.5px solid var(--wiof-brown-tint-40);

    .action-card-title,
    .action-media-container {
      background-color: var(--wiof-teal-shade-20);
    }

    &:hover {
      font-size: 18px !important;
    }

    .action-card-title {
      color: var(--wiof-warm-white);
      padding: 10px 1rem 1rem;
      font-weight: bold;
      margin-top: 0;
      margin-bottom: 10px;
      font-size: 16px;
    }

    .action-card-content {
      display: -webkit-box;
      -webkit-line-clamp: 7;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 16px;
    }
  }
}
