<mat-card class="take-action-content">
  <mat-card-content class="app-take-action-content-container">
    <p class="action-sub-heading">
      Below are the actions you can take towards
      <span style="font-weight: 500">{{ actionData.tab.title }}</span>
      element.
    </p>
    <div>
      <div class="container mx-auto actions-container">
        <div class="flex flex-wrap">
          <div
            *ngFor="let action of actionData.links"
            class="w-full md:w-1/2 lg:w-1/4 p-2"
          >
            <mat-card class="action-card" [ngClass]="selectedElement">
              <mat-card-content
                class="p-0 text-left"
                style="height: 100%"
              >
                <div class="action-media-container">
                  <iframe
                    [title]="'Video for ' + action.heading"
                    [src]="action.linkSafe"
                    style="border: none; width: 100%; min-height: 200px"
                  >
                  </iframe>
                </div>
                <h3 class="action-card-title">
                  {{ action.heading }}
                </h3>
                <p class="action-card-content px-4">
                  {{ action.desc }}
                </p>
              </mat-card-content>
            </mat-card>
          </div>
        </ion-row>
      </ion-grid>
    </div>
  </mat-card-content>
</mat-card>
