<mat-toolbar color="primary">
  <button mat-icon-button routerLink="/admin-dashboard">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span *ngIf="!isEditMode">{{ pageContent.addCourseInFocusTitle }}</span>
  <span *ngIf="isEditMode">{{ pageContent.editCourseInFocusTitle }}</span>
  <span class="flex-1"></span>
  <div class="flex gap-2">
    <button mat-raised-button color="accent" (click)="onSubmit()">
      {{ pageContent.saveLabel }}
    </button>
    <button
      mat-flat-button
      color="warn"
      routerLink="/admin-dashboard/manage-course-in-focus">
      {{ pageContent.cancelLabel }}
    </button>
  </div>
</mat-toolbar>

<div class="p-4">
  <form [formGroup]="addCourseInFocusForm">
    <div class="container mx-auto">
      <div class="flex flex-wrap"></div>
        <div class="w-full md:w-1/3 p-2">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>{{pageContent.nameLabel}}</mat-label>
            <input matInput formControlName="name">
          </mat-form-field>
        </div>
        <div class="w-full md:w-1/3 p-2">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>{{pageContent.linkLabel}}</mat-label>
            <input matInput formControlName="link">
          </mat-form-field>
        </div>
        <div class="w-full md:w-1/6 p-2">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>{{pageContent.platformLabel}}</mat-label>
            <input matInput formControlName="platform">
          </mat-form-field>
        </div>
        <div class="w-full md:w-1/6 p-2">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>{{pageContent.categoryLabel}}</mat-label>
            <mat-select formControlName="category">
              <mat-option
                [value]="category"
                *ngFor="let category of categories"
                >{{ category }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <div class="w-full md:w-1/3 p-2">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>{{pageContent.offeredByLabel}}</mat-label>
            <input matInput formControlName="offeredBy">
          </mat-form-field>
        </div>
        <div class="w-full md:w-1/3 p-2">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>{{pageContent.durationLabel}}</mat-label>
            <input matInput formControlName="duration">
          </mat-form-field>
        </div>
        <div class="w-full md:w-1/3 p-2">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>{{pageContent.approxCostLabel}}</mat-label>
            <input matInput formControlName="approxCost">
          </mat-form-field>
        </div>
        <div class="w-full p-2">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>{{pageContent.keyTopicsLabel}}</mat-label>
            <input matInput formControlName="keyTopics">
          </mat-form-field>
        </div>
        <div class="w-full p-2">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>{{pageContent.descriptionLabel}}</mat-label>
            <textarea matInput formControlName="description" rows="3"></textarea>
          </mat-form-field>
        </div>
        <div class="w-full p-2">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>{{pageContent.imageLabel}}</mat-label>
            <input
              matInput
              type="file"
              accept="image/*"
              (change)="onFileSelected($event)"
              formControlName="image"
            >
          </mat-form-field>
          <div class="mt-2" *ngIf="imageToDisplay">
            <img [src]="imageToDisplay" class="max-w-xs h-auto">
          </div>
        </div>
        <div class="w-full md:w-1/3 p-2">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>{{pageContent.submitDateLabel}}</mat-label>
            <input
              matInput
              disabled
              [value]="courseInFocus.submitDate | date"
            >
          </mat-form-field>
        </div>
        <div class="w-full md:w-1/3 p-2">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>{{pageContent.publishDateLabel}}</mat-label>
            <input
              matInput
              disabled
              [value]="courseInFocus.publishDate | date"
            >
          </mat-form-field>
        </div>
        <div class="w-full md:w-1/3 p-2">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>{{pageContent.unpublishDateLabel}}</mat-label>
            <input
              matInput
              disabled
              [value]="courseInFocus.unpublishDate | date"
            >
          </mat-form-field>
        </div>
      </div>
    </div>
  </form>
</div>
