<mat-toolbar color="primary">
  <button mat-icon-button routerLink="/admin-dashboard">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span *ngIf="!isEditMode">{{ pageContent.addNgoInFocusTitle }}</span>
  <span *ngIf="isEditMode">{{ pageContent.editNgoInFocusTitle }}</span>
  <span class="flex-1"></span>
  <button mat-raised-button color="accent" class="mr-2" (click)="onSubmit()">
    {{ pageContent.saveLabel }}
  </button>
  <button
    mat-flat-button
    color="warn"
    routerLink="/admin-dashboard/manage-ngo-in-focus"
  >
    {{ pageContent.cancelLabel }}
  </button>
</mat-toolbar>

<div class="p-6">
  <form [formGroup]="addNgoInFocusForm">
    <div class="container mx-auto">
      <div class="flex flex-wrap">
        <div class="w-full md:w-1/3 p-2">
          <mat-form-field class="w-full">
            <mat-label>{{pageContent.nameLabel}}</mat-label>
            <input matInput formControlName="ngoName">
          </mat-form-field>
        </div>
        <div class="w-full md:w-2/3 p-2">
          <mat-form-field class="w-full">
            <mat-label>{{pageContent.linkLabel}}</mat-label>
            <input matInput formControlName="knowMoreLink">
          </mat-form-field>
        </div>
        <div class="w-full p-2">
          <mat-form-field class="w-full">
            <mat-label>{{pageContent.keyActivitiesLabel}}</mat-label>
            <input matInput formControlName="keyActivities">
          </mat-form-field>
        </div>
        <div class="w-full p-2">
          <mat-form-field class="w-full">
            <mat-label>{{pageContent.descriptionLabel}}</mat-label>
            <textarea matInput formControlName="description" rows="4"></textarea>
          </mat-form-field>
        </div>
        <div class="w-full md:w-1/3 p-2">
          <mat-form-field class="w-full">
            <mat-label>{{pageContent.categoryLabel}}</mat-label>
            <mat-select formControlName="category">
              <mat-option
                [value]="category"
                *ngFor="let category of categories"
                >{{ category }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <div class="w-full md:w-1/3 p-2">
          <mat-form-field class="w-full">
            <mat-label>{{pageContent.mediaTypeLabel}}</mat-label>
            <mat-select
              formControlName="mediaType"
              #mediaType
              (ngModelChange)="updateMediaTypeValidation()"
            >
              <mat-option [value]="'image'">Image</mat-option>
              <mat-option [value]="'video'">Video</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div
          *ngIf="mediaType.value && mediaType.value === 'video'"
          class="w-full md:w-1/3 p-2"
          >
          <mat-form-field class="w-full">
            <mat-label>{{pageContent.mediaLinkLabel}}</mat-label>
            <input matInput formControlName="mediaLink">
          </mat-form-field>
        </div>
        <div class="w-full p-2">
          <mat-form-field class="w-full">
            <mat-label>{{pageContent.ngoLogoLabel}}</mat-label>
            <input
              matInput
              type="file"
              accept="image/*"
              (change)="onFileSelected($event, true)"
              formControlName="ngoLogo"
            >
          </mat-form-field>
          <div><img [src]="logoImageToDisplay" class="max-w-xs mt-2"></div>
        </div>
        <div
          *ngIf="mediaType.value && mediaType.value === 'image'"
          class="w-full p-2"
          >
          <mat-form-field class="w-full">
            <mat-label>{{pageContent.ngoImageLabel}}</mat-label>
            <input
              matInput
              type="file"
              accept="image/*"
              (change)="onFileSelected($event)"
              formControlName="image"
            >
          </mat-form-field>
          <div><img [src]="imageToDisplay" class="max-w-xs mt-2"></div>
        </div>
        <div class="w-full md:w-1/3 p-2">
          <mat-form-field class="w-full">
            <mat-label>{{pageContent.submitDateLabel}}</mat-label>
            <input
              matInput
              disabled
              [value]="ngoInFocus.submitDate | date"
            >
          </mat-form-field>
        </div>
        <div class="w-full md:w-1/3 p-2">
          <mat-form-field class="w-full">
            <mat-label>{{pageContent.publishDateLabel}}</mat-label>
            <input
              matInput
              disabled
              [value]="ngoInFocus.publishDate | date"
            >
          </mat-form-field>
        </div>
        <div class="w-full md:w-1/3 p-2">
          <mat-form-field class="w-full">
            <mat-label>{{pageContent.unpublishDateLabel}}</mat-label>
            <input
              matInput
              disabled
              [value]="ngoInFocus.unpublishDate | date"
            >
          </mat-form-field>
        </div>
      </div>
    </div>
  </form>
</div>
