@import '../../wiof-custom-theming.scss';

.wiof-food-ph-indicator {
  position: absolute;
  height: 300px;
  width: 300px;
  background-color: transparent;
}

.ph-widget-height {
  height: auto;
  min-height: 400px;
}

.title-text {
  font-size: 1.1rem;
  font-weight: 600;
  color: $dark-color;
}

.wiof-food-ph-widget-card-header {
  background-color: $earth-color;
  border-bottom: 2px solid white;
  color: $dark-color;
}

.wiof-food-ph-widget-card-background {
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 14px 36px rgba(0, 0, 0, 0.12);
  margin: 0 !important;
  background-color: lighten($earth-color, 10%);
}

.wiof-food-ph-widget-card-content {
  max-height: 520px;
  overflow: auto;
  padding: 1rem;
}

.divider {
  background-color: $earth-color;
  height: 1px;
  border-width: 0px;
  background-color: #4d4b4b;
}

.ph-meter-text {
  font-size: large;
  color: #000;
  padding-bottom: 5px;
}

.text {
  color: #000;
  padding-top: 5px;
}

.wiof-food-ph-indicator-selector {
  padding: 10px;
}

.select-food-input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding-left: 10px;
  border: 1px solid grey;
  color: $dark-color;
  background-color: $light-color;
}

mat-option {
  white-space: normal;
  line-height: normal;
}
