<mat-card class="wiof-food-ph-widget-card-background ph-widget-height">
  <mat-card-header class="wiof-food-ph-widget-card-header">
    <mat-card-title class="title-text"> pH Widget </mat-card-title>
  </mat-card-header>
  <mat-card-content
    class="wiof-food-ph-widget-card-content"
    style="padding: 5px"
  >
    <div class="container mx-auto">
      <div class="flex flex-wrap">
        <div class="w-full text">
          <a style="cursor: pointer" (click)="about = !about">
            About Food pH Indicator
            <mat-icon *ngIf="!about">expand_more</mat-icon>
            <mat-icon *ngIf="about">expand_less</mat-icon>
          </a>
          <p *ngIf="about" style="text-align: justify">
            The human body is built to naturally maintain a healthy balance of
            acidity and alkalinity, called a pH balance. One way we can help our
            body maintain a healthy pH balance is through our diet. A diet low
            in acid producing foods can help maintain a healthy body pH balance.
            The scale below will tell you the pH balance of commonly consumed
            foods.
          </p>
        </div>
      </div>
      <div class="flex flex-wrap">
        <div class="w-full">
          <label class="text">
            Check the pH value of various commonly consumed food items.
          </label>
        </div>
        <div class="w-full md:w-1/2 xl:w-7/12">
          <form>
            <input
              class="select-food-input"
              type="text"
              placeholder="Select food"
              aria-label="Select food"
              matInput
              [matAutocomplete]="auto"
              [formControl]="foodInputCtrl"
            />
            <mat-autocomplete
              #auto="matAutocomplete"
              [displayWith]="getSelectedFoodName"
              (optionSelected)="setSelectedFoodName($event.option.value)"
            >
              <mat-option
                *ngFor="let food of filteredfoodOptions$ | async"
                [value]="food"
              >
                <span>{{ food.name | titlecase }}</span> |
                <small>pH: {{ food.value }}</small>
              </mat-option>
            </mat-autocomplete>
          </form>
        </div>
        <div class="w-full md:w-1/2 xl:w-5/12 flex items-center">
          <button
            class="wiof-primary-btn full-width full-height"
            (click)="updateBridgeVariable()"
          >
            <mat-icon>calculate</mat-icon>Calculate pH value
          </button>
        </div>
      </div>
      <hr class="divider" />
      <div class="flex flex-wrap">
        <div class="w-full">
          <p class="ph-meter-text">pH Meter</p>
          <app-food-ph-indicator-meter
            [food]="bridgeVariable"
          ></app-food-ph-indicator-meter>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
