<mat-toolbar color="primary">
  <button mat-icon-button routerLink="/admin-dashboard">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>Manage Breaking News</span>
  <span class="flex-1"></span>
  <div class="flex gap-2">
    <button mat-flat-button color="accent" (click)="refreshData()">
      <mat-icon>refresh</mat-icon>
      Refresh
    </button>
    <button mat-raised-button color="primary" (click)="addBreakinNews()">
      <mat-icon>add</mat-icon>
      Add Breaking News
    </button>
  </div>
</mat-toolbar>

<div class="p-4">
  <div class="container mx-auto" *ngIf="newsList$ | async as newsList">
    <div class="flex flex-wrap item-divider-line">
      <div class="w-full md:w-1/12 self-center">Sr</div>
      <div class="w-full md:w-7/12 self-center"
        ><strong>Headline</strong></div
      >
      <div class="w-full md:w-2/12"><strong>Date</strong></div>
      <div class="w-full md:w-2/12 action-heading"
        ><strong>Actions</strong></div
      >
    </div>
    <div
      *ngFor="let news of newsList; let i = index"
      class="flex flex-wrap item-divider-line"
    >
      <div class="w-full md:w-1/12 self-center">{{ i + 1 }}</div>
      <div class="w-full md:w-7/12 self-center"
        >{{ news.headline }}</div
      >
      <div class="w-full md:w-2/12 self-center"
        >{{ news.date | date }}</div
      >
      <div class="w-full md:w-2/12">
        <div class="flex gap-2">
          <button
            mat-icon-button
            title="Click to view news details"
            (click)="viewNewsDetails(news)"
          >
            <mat-icon>visibility</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteNews(newsList, i, news)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
