<mat-toolbar color="primary">
  <button mat-icon-button routerLink="/admin-dashboard">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>Manage In Focuses</span>
  <span class="flex-1"></span>
  <div class="flex gap-2">
    <button mat-stroked-button (click)="refreshData()">
      <mat-icon>refresh</mat-icon>
      Refresh
    </button>
    <button mat-raised-button color="accent" (click)="addInFocus()">
      <mat-icon>add</mat-icon>
      Add New In Focus
    </button>
  </div>
</mat-toolbar>

<div class="p-4">
  <div class="container mx-auto" *ngIf="inFocusList$ | async as inFocuses">
    <div class="flex flex-wrap item-divider-line">
      <div class="w-full"><strong>Total Items: {{inFocuses.length}}</strong></div>
    </div>
    <div class="flex flex-wrap item-divider-line">
      <div class="w-full md:w-2/12 self-center"
        ><strong>Title</strong></div
      >
      <div class="w-full md:w-3/12 self-center"
        ><strong>Subtitle</strong></div
      >
      <div class="w-full md:w-1/12 self-center"
        ><strong>Category</strong></div
      >
      <div class="w-full md:w-1/12 self-center"
        ><strong>Status</strong></div
      >
      <div class="w-full md:w-1/12"><strong>Submit Date</strong></div>
      <div class="w-full md:w-1/12"><strong>Publish Date</strong></div>
      <div class="w-full md:w-1/12"><strong>Unpublish Date</strong></div>
      <div class="w-full md:w-2/12"
        ><strong class="action-heading">Actions</strong></div
      >
    </div>
    <div
      *ngFor="let inFocus of inFocuses; let i = index"
      class="flex flex-wrap item-divider-line"
    >
      <div class="w-full md:w-2/12 self-center"
        >{{ i + 1 }}. {{ inFocus.title }}</div
      >
      <div class="w-full md:w-3/12 self-center"
        >{{ inFocus.subTitle }}</div
      >
      <div class="w-full md:w-1/12 self-center"
        >{{ inFocus.category | uppercase}}</div
      >
      <div class="w-full md:w-1/12 self-center"
        >{{inFocus.status | uppercase}}</div
      >
      <div class="w-full md:w-1/12 self-center"
        >{{inFocus.submitDate | date}}</div
      >
      <div class="w-full md:w-1/12 self-center"
        >{{inFocus.publishDate | date}}</div
      >
      <div class="w-full md:w-1/12 self-center"
        >{{inFocus.unpublishDate | date}}</div
      >
      <div class="w-full md:w-2/12">
        <div class="flex gap-1">
          <button
            mat-icon-button
            *ngIf="inFocus.status == 'submitted'"
            title="Click to Publish In Focus"
            (click)="publishInFocus(inFocus.inFocusId)"
          >
            <mat-icon>rocket_launch</mat-icon>
          </button>
          <button
            mat-icon-button
            (click)="publishInFocus(inFocus.inFocusId)"
            *ngIf="inFocus.status == 'inactive'"
          >
            <mat-icon class="status-inactive">rocket_launch</mat-icon>
          </button>
          <button
            mat-icon-button
            *ngIf="inFocus.status == 'published'"
            title="Published In Focus"
            (click)="unpublishInFocus(inFocus.inFocusId)"
          >
            <mat-icon class="status-published">rocket_launch</mat-icon>
          </button>
          <button
            mat-icon-button
            title="Click to view in focus details"
            (click)="viewInFocusDetails(inFocus)"
          >
            <mat-icon>visibility</mat-icon>
          </button>
          <button
            mat-icon-button
            (click)="deleteInFocus(inFocuses, i, inFocus.inFocusId)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
