<app-header></app-header>
<ion-content>
  <div class="page-breadcrumb-bar">
    <div class="breadcrumb">
      <a routerLink="/home">Home</a>
      <span class="sep">/</span>
      <span class="current">Sitemap</span>
    </div>
  </div>
  <h1 class="sitemap-title">Sitemap</h1>
  <!-- <div *ngIf="(blogDetails | async) as blog">

  <ion-text
    style="text-align: justify; text-justify: inter-word;"
    [innerHTML]="blog.content"
  ></ion-text> -->
  <!-- </div> -->

  <app-wiof-footer></app-wiof-footer>
</ion-content>
