<div
  class="wiof-subscribe-button"
  (click)="onSubscribeButtonClick()"
  [ngClass]="{
    inactive: !subscribeButton,
    home: page == 'home',
    earth: page == 'earth',
    air: page == 'air',
    water: page == 'water',
    spirit: page == 'spirit',
    energy: page == 'energy'
  }"
>
  <p class="subscribe-text">Subscribe</p>
  <ion-icon class="mail" name="mail-outline"></ion-icon>
</div>

<div
  class="wiof-subscribe"
  [ngClass]="{
    active: !subscribeButton,
    home: page == 'home',
    earth: page == 'earth',
    air: page == 'air',
    water: page == 'water',
    spirit: page == 'spirit',
    energy: page == 'energy'
  }"
>
  <h4 class="subscribe-heading">Subscribe to Newsletter</h4>
  <button class="close-button" title="Close" (click)="onBack()">
    <ion-icon name="close-outline"></ion-icon>
  </button>

  <form
    [formGroup]="addSubscriberForm"
    (submit)="onSubmit()"
    class="wiof-subscribe-form"
  >
    <div class="form-field">
      <input
        type="text"
        formControlName="firstName"
        placeholder="First Name"
        class="subscribe-input"
      />
    </div>
    <div class="form-field">
      <input
        type="text"
        formControlName="lastName"
        placeholder="Last Name"
        class="subscribe-input"
      />
    </div>
    <div class="form-field">
      <input
        type="email"
        formControlName="email"
        placeholder="Email address"
        class="subscribe-input"
      />
    </div>
    <button
      [disabled]="!addSubscriberForm.valid"
      class="subscribe-submit-btn"
      type="submit"
    >
      <ion-icon name="mail-outline"></ion-icon>
      Subscribe
    </button>
    <p class="subscribe-note">
      No spam — only updates about new content on our site.
    </p>
  </form>
</div>
