<mat-toolbar color="primary">
  <span routerLink="/home" class="cursor-pointer">
    <img style="height: 56px" alt="WIOF" [src]="wiofLogo">
  </span>
</mat-toolbar>

<div class="p-4">
  <div class="container mx-auto">
    <div class="flex flex-wrap">
      <div class="w-full md:w-1/2 md:mx-auto login-container"></div>
        <ion-text color="dark" class="wiof-login">
          <h1>Login to Admin Dashboard</h1>
        </ion-text>
        <div *ngIf="error" style="color: red">
          <p>{{error}}</p>
        </div>
        <mat-form-field class="w-full mb-4">
          <mat-label>Email</mat-label>
          <input matInput name="email" [(ngModel)]="email">
        </mat-form-field>
        <mat-form-field class="w-full mb-4">
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            name="password"
            [(ngModel)]="password"
          >
        </mat-form-field>
        <div class="button-container">
          <button mat-raised-button color="primary" class="wiof-login w-full" (click)="onLogin()">Login</button>
        </div>
      </div>
    </div>
  </div>
</div>
