<mat-card class="video-card">
  <mat-card-content class="text-left card-content">
    <div class="img-container">
      <img
        [src]="video.thumbnail"
        class="thumbnailImage"
        [routerLink]="['video', video.url]"
        alt=""
      />
    </div>
    <h3 class="p-4">
      <strong
        ><a
          class="link-title"
          [routerLink]="['/element', element, 'video', video.url]"
          >{{ video.title }}</a
        ></strong
      >
    </h3>
  </mat-card-content>
</mat-card>
