<div class="video-card" [routerLink]="['/element', element, 'video', video.url]">

  <!-- Thumbnail with play icon overlay -->
  <div class="video-image-wrap">
    <img [src]="video.thumbnail" [alt]="video.title" class="video-image" />
    <div class="play-overlay">
      <ion-icon name="play-circle"></ion-icon>
    </div>
    <app-bookmark-icon
      class="video-bookmark-icon"
      [contentId]="video.url"
      contentType="video"
      [contentTitle]="video.title"
      [contentThumbnail]="video.thumbnail">
    </app-bookmark-icon>
  </div>

  <!-- Title -->
  <div class="video-body">
    <h3 class="video-title">{{ video.title }}</h3>
  </div>

</div>
