<div class="wiof-social-share-button">
  <div>
    <div class="wiof-social-share-container">
      <div class="pl-0">
        <a [href]="facebookShareLink" target="_blank" class="facebook-btn">
          <i class="fab fa-facebook"></i>
          <mat-icon id="fb">facebook</mat-icon>
        </a>
        <a [href]="twitterShareLink" target="_blank" class="twitter-btn">
          <mat-icon id="tw">twitter</mat-icon>
        </a>
        <a [href]="linkedinShareLink" target="_blank" class="linkedin-btn">
          <mat-icon id="li">linkedin</mat-icon>
        </a>
        <a [href]="whatsappShareLink" target="_blank" class="whatsapp-btn">
          <mat-icon id="wa">whatsapp</mat-icon>
        </a>
      </div>
    </div>
  </div>
</div>
