<div class="app-container">
  <!-- uncomment when have to add menu and links in header-->

  <!-- <div class="wiof-side-menu fixed left-0 top-0 h-full w-64 bg-white shadow-lg">
    <div class="p-4">

      <mat-list>
        <mat-list-item>Lifestyle</mat-list-item>
        <mat-list-item>Environment</mat-list-item>
        <mat-list-item>Take Action</mat-list-item>
        <mat-list-item>Contribute</mat-list-item>
        <mat-list-item>About Us</mat-list-item>
      </mat-list>
    </div>
  </div> -->
  <router-outlet id="main"></router-outlet>
</div>
