@import '../../wiof-custom-theming.scss';

.wiof-spirit-widget-card-header {
  background-color: $spirit-color;
  border-bottom: 2px solid white;
  color: $dark-color;
}

.wiof-spirit-widget-card-background {
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 14px 36px rgba(0, 0, 0, 0.12);
  margin: 0 !important;
  background-color: lighten($spirit-color, 10%);
  height: auto;
  min-height: 400px;
}

.eq-widget-card-content {
  text-align: justify;
  text-justify: inter-word;
  color: $dark-color;
  max-height: 520px;
  overflow: auto;
  padding: 1rem;

  strong {
    font-size: 1rem;
    color: #10263c;
  }
}

.show-test-button {
  cursor: pointer;
}

.eq-user-response {
  overflow: auto;
  max-height: 480px;
  display: block;
  width: 100%;
}

.answer-text {
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
  font-size: 0.95rem;
  color: $dark-color;

  &:hover {
    opacity: 0.8;
  }
}

.eq-param-desc p {
  padding: 5px 10px;
  border: 1px solid lightgrey;
  background: white;
  border-radius: 1rem;
  font-weight: $font-weight-medium;
  margin-top: 5px;
  font-size: 0.9rem;
}

.eq-param-heading {
  padding-left: 10px;
  padding-bottom: 10px;
}
