<div class="eq-indicator-meter">
  <div class="flex flex-wrap">
    <div class="w-full">
      <div class="flex flex-wrap">
        <div class="eqScalePercent w-full">
          <div
            class="eqScaleBlock range0"
            [style.width]="firstBlockWidth"
          ></div>
          <div
            class="eqScaleBlock range1"
            [style.width]="secondBlockWidth"
          ></div>
          <div
            class="eqScaleBlock range2"
            [style.width]="thirdBlockWidth"
          ></div>
        </div>
        <div class="eqScaleContainer w-full">
          <div class="eqScale" style="width: 15%"><p>0%</p></div>
          <div class="eqScale"><p></p></div>
          <div class="eqScale"><p></p></div>
          <div class="eqScale"><p></p></div>
          <div class="eqScale"><p></p></div>
          <div class="eqScale" style="width: 15%"><p>50%</p></div>
          <div class="eqScale"><p></p></div>
          <div class="eqScale"><p></p></div>
          <div class="eqScale"><p></p></div>
          <div class="eqScale"><p></p></div>
          <div class="eqScale" style="width: 20%"><p>100%</p></div>
        </div>
        <div class="bracket" [style.left]="arrowPositionBracket"></div>
      </div>
    </div>
    <!-- <div class="w-full text">
        {{ message }}
      </div> -->
  </div>
</div>
