<div class="flex flex-wrap p-4 wiof-footer">
  <div class="w-full"></div>
    <!-- <ion-label class="mb-4">
      <button class="wiof-primary-btn mt-4" [routerLink]="['/sitemap']" routerLinkActive="router-link-active" >
        Sitemap
      </button>
    </ion-label><br /> -->
    <!-- <div class="social-media-block">
      <ion-button fill="clear" class="ion-no-padding"
        ><ion-icon slot="icon-only" name="logo-facebook"></ion-icon
      ></ion-button>
      <ion-button fill="clear" class="ion-no-padding"
        ><ion-icon slot="icon-only" name="logo-instagram"></ion-icon
      ></ion-button>
      <ion-button fill="clear" class="ion-no-padding"
        ><ion-icon slot="icon-only" name="logo-twitter"></ion-icon
      ></ion-button>
      <ion-button fill="clear" class="ion-no-padding"
        ><ion-icon slot="icon-only" name="logo-youtube"></ion-icon
      ></ion-button>
    </div> -->
    <!-- </div>
  <div class="w-full text-center"> -->
    <a
      class="wiof-primary-link mt-4 mr-4"
      href="/privacy-policy"
    >
      Privacy Policy
    </a>
    <!-- <button class="wiof-primary-btn mt-4" [routerLink]="['/copyright']" routerLinkActive="router-link-active" >
      Copyright
    </button> -->
    <p>World is One Family © 2020 - 2025. All Rights Reserved.</p>
  </div>
