<mat-toolbar color="primary">
  <button mat-icon-button routerLink="/admin-dashboard">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>Manage Calendar</span>
  <span class="flex-1"></span>
  <div class="flex gap-2">
    <button mat-stroked-button (click)="refreshData()">
      <mat-icon>refresh</mat-icon>
      Refresh
    </button>
    <button mat-raised-button color="accent" (click)="addNewOccasion()">
      <mat-icon>add</mat-icon>
      Add New Occasion
    </button>
  </div>
</mat-toolbar>

<div class="p-4">
  <div></div>
  <div class="container mx-auto" *ngIf="occasionsList$ | async as occasionsList">
    <div class="flex flex-wrap item-divider-line">
      <div class="w-full md:w-1/3 p-4">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Month</mat-label>
          <mat-select
            [(ngModel)]="selectedMonth"
            (ngModelChange)="onSelectMonth()"
          >
            <mat-option
              [value]="i"
              *ngFor="let month of months; let i = index;"
              >{{ month }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="flex flex-wrap item-divider-line">
      <div class="w-full md:w-1/12 self-center p-2"
        ><strong>Sr</strong></div
      >
      <div class="w-full md:w-7/12 self-center p-2"
        ><strong>Occasion</strong></div
      >
      <div class="w-full md:w-2/12 p-2"><strong>Date</strong></div>
      <div class="w-full md:w-2/12 action-heading p-2"
        ><strong>Actions</strong></div
      >
    </div>
    <div
      *ngFor="let occasion of occasionsList; let i = index"
      class="flex flex-wrap item-divider-line"
    >
      <div class="w-full md:w-1/12 self-center p-2">{{ i + 1 }}</div>
      <div class="w-full md:w-7/12 self-center p-2"
        >{{ occasion.occasion }}</div
      >
      <div class="w-full md:w-2/12 self-center p-2"
        >{{months[occasion.month]}} {{occasion.day}}
      </div>
      <div class="w-full md:w-2/12 p-2">
        <div class="flex gap-2">
          <button 
            mat-icon-button
            title="Click to view occasion details"
            (click)="viewOccasionDetails(occasion)"
          >
            <mat-icon>visibility</mat-icon>
          </button>
          <button 
            mat-icon-button
            color="warn"
            (click)="deleteOccasion(occasionsList, i, occasion.id, occasion.imageName)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
