<mat-toolbar color="primary">
  <button mat-icon-button routerLink="/admin-dashboard">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>Manage Ngo In Focuses</span>
  <span class="flex-1"></span>
  <div class="flex gap-2">
    <button mat-flat-button color="accent" (click)="refreshData()">
      <mat-icon>refresh</mat-icon>
      Refresh
    </button>
    <button mat-raised-button color="primary" (click)="addNgoInFocus()">
      <mat-icon>add</mat-icon>
      Add New In Focus
    </button>
  </div>
</mat-toolbar>

<div class="p-4">
  <div class="container mx-auto" *ngIf="ngoInFocusList$ | async as ngoInFocuses">
    <div class="flex flex-wrap item-divider-line">
      <div class="w-full"><strong>Total Items: {{ngoInFocuses.length}}</strong></div>
    </div>
    <div class="flex flex-wrap item-divider-line">
      <div class="w-full md:w-2/12 self-center"
        ><strong>NGO Name</strong></div
      >
      <div class="w-full md:w-3/12 self-center"
        ><strong>Know More Link</strong></div
      >
      <div class="w-full md:w-1/12 self-center"
        ><strong>Category</strong></div
      >
      <div class="w-full md:w-1/12 self-center"
        ><strong>Status</strong></div
      >
      <div class="w-full md:w-1/12"><strong>Submit Date</strong></div>
      <div class="w-full md:w-1/12"><strong>Publish Date</strong></div>
      <div class="w-full md:w-1/12"><strong>Unpublish Date</strong></div>
      <div class="w-full md:w-2/12"
        ><strong class="action-heading">Actions</strong></div
      >
    </div>
    <div
      *ngFor="let ngoInFocus of ngoInFocuses; let i = index"
      class="flex flex-wrap item-divider-line"
    >
      <div class="w-full md:w-2/12 self-center"
        >{{ i + 1 }}. {{ ngoInFocus.ngoName }}</div
      >
      <div class="w-full md:w-3/12 self-center"
        ><a [href]="ngoInFocus.knowMoreLink" target="_blank"
          >{{ ngoInFocus.knowMoreLink }}</a
        ></div
      >
      <div class="w-full md:w-1/12 self-center"
        >{{ ngoInFocus.category | uppercase}}</div
      >
      <div class="w-full md:w-1/12 self-center"
        >{{ngoInFocus.status | uppercase}}</div
      >
      <div class="w-full md:w-1/12 self-center"
        >{{ngoInFocus.submitDate | date}}</div
      >
      <div class="w-full md:w-1/12 self-center"
        >{{ngoInFocus.publishDate | date}}</div
      >
      <div class="w-full md:w-1/12 self-center"
        >{{ngoInFocus.unpublishDate | date}}</div
      >
      <div class="w-full md:w-2/12">
        <div class="flex gap-1">
          <button
            mat-icon-button
            *ngIf="ngoInFocus.status == 'submitted'"
            title="Click to Publish Ngo In Focus"
            (click)="publishNgoInFocus(ngoInFocus.id, ngoInFocus.category)"
          >
            <mat-icon>rocket_launch</mat-icon>
          </button>
          <button
            mat-icon-button
            (click)="publishNgoInFocus(ngoInFocus.id, ngoInFocus.category)"
            *ngIf="ngoInFocus.status == 'inactive'"
            disabled
          >
            <mat-icon class="status-inactive">rocket_launch</mat-icon>
          </button>
          <button
            mat-icon-button
            *ngIf="ngoInFocus.status == 'published'"
            title="Published Ngo In Focus"
          >
            <mat-icon class="status-published">rocket_launch</mat-icon>
          </button>
          <button
            mat-icon-button
            title="Click to view in focus details"
            (click)="viewNgoInFocusDetails(ngoInFocus)"
          >
            <mat-icon>visibility</mat-icon>
          </button>
          <button
            mat-icon-button
            (click)="deleteNgoInFocus(ngoInFocuses, i, ngoInFocus)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
