<mat-toolbar color="primary">
  <button mat-icon-button routerLink="/admin-dashboard">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>Manage Polls</span>
  <span class="flex-1"></span>
  <button mat-flat-button color="accent" (click)="refreshData()" class="mr-2">
    <mat-icon>refresh</mat-icon>
    Refresh
  </button>
  <button mat-raised-button color="accent" (click)="addNewPoll()">
    <mat-icon>add</mat-icon>
    Add New Poll
  </button>
</mat-toolbar>

<div class="p-4">
  <div class="container mx-auto" *ngIf="pollQuestionList$ | async as pollQuestions">
    <div class="flex flex-wrap item-divider-line">
      <div class="w-full md:w-1/12 lg:w-1/12 self-center"
        >Sr</div
      >
      <div class="w-full md:w-3/12 lg:w-3/12 self-center"
        ><strong>Poll Question</strong></div
      >
      <div class="w-full md:w-2/12 lg:w-2/12"><strong>Submit Date</strong></div>
      <div class="w-full md:w-2/12 lg:w-2/12"><strong>Publish Start</strong></div>
      <div class="w-full md:w-2/12 lg:w-2/12"><strong>Publish End</strong></div>
      <div class="w-full md:w-2/12 lg:w-2/12"
        ><strong class="action-heading">Actions</strong></div
      >
    </div>
    <div
      *ngFor="let pollQuestion of pollQuestions; let i = index"
      class="flex flex-wrap item-divider-line"
    >
      <div class="w-full md:w-1/12 lg:w-1/12 self-center"
        >{{ i + 1 }}</div
      >
      <div class="w-full md:w-3/12 lg:w-3/12 self-center"
        >{{ pollQuestion.question }}</div
      >
      <div class="w-full md:w-2/12 lg:w-2/12 self-center">
        {{pollQuestion.submitDate | date}}
      </div>
      <div class="w-full md:w-2/12 lg:w-2/12 self-center"
        >{{pollQuestion.publishStartDate | date}}</div
      >
      <div class="w-full md:w-2/12 lg:w-2/12 self-center"
        >{{pollQuestion.publishEndDate | date}}</div
      >
      <div class="w-full md:w-2/12 lg:w-2/12">
        <div class="flex gap-2">
          <button
            mat-icon-button
            *ngIf="pollQuestion.status == 'submitted'"
            title="Click to Publish Poll"
            (click)="publishPollQuestion(pollQuestion.pollId)"
            color="primary">
            <mat-icon>rocket_launch</mat-icon>
          </button>
          <button
            mat-icon-button
            (click)="publishPollQuestion(pollQuestion.pollId)"
            *ngIf="pollQuestion.status == 'inactive'"
            disabled
            class="status-inactive">
            <mat-icon>rocket_launch</mat-icon>
          </button>
          <button
            mat-icon-button
            *ngIf="pollQuestion.status == 'published'"
            title="Published Poll"
            class="status-published">
            <mat-icon>rocket_launch</mat-icon>
          </button>
          <button
            mat-icon-button
            title="Click to view poll details"
            (click)="viewPollDetails(pollQuestion)"
            color="primary">
            <mat-icon>visibility</mat-icon>
          </button>
          <button
            mat-icon-button
            (click)="deletePollQuestion(pollQuestions, i, pollQuestion.pollId)"
            color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
