<div class="video-slider-section" *ngIf="videoList && videoList.length > 0">

  <!-- Actions -->
  <div class="video-slider-actions">
    <a
      [routerLink]="['videos']"
      class="action-link"
      title="View all videos"
      aria-label="View all videos"
    >
      View All <ion-icon name="arrow-forward-outline"></ion-icon>
    </a>
  </div>

  <!-- Slider -->
  <div *ngIf="videoList; else loading" class="slider-wrap">
    <ion-slides #wiofVideoSlider [options]="slideOpts">
      <ion-slide *ngFor="let video of videoList">
        <div class="video-card" [routerLink]="['video', video.url]">

          <!-- Thumbnail with play icon overlay -->
          <div class="video-image-wrap">
            <img [src]="video.thumbnail" [alt]="video.title" class="video-image" />
            <div class="play-overlay">
              <ion-icon name="play-circle"></ion-icon>
            </div>
          </div>

          <!-- Title -->
          <div class="video-body">
            <h3 class="video-title">{{ video.title }}</h3>
          </div>

        </div>
      </ion-slide>
    </ion-slides>

    <div
      class="nav-btn nav-prev"
      (click)="wiofVideoSlider.slidePrev()"
      *ngIf="showNavigator()"
    >
      <ion-icon name="chevron-back"></ion-icon>
    </div>
    <div
      class="nav-btn nav-next"
      (click)="wiofVideoSlider.slideNext()"
      *ngIf="showNavigator()"
    >
      <ion-icon name="chevron-forward"></ion-icon>
    </div>
  </div>

  <ng-template #loading>
    <div class="loading-wrap">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  </ng-template>
</div>
