<mat-card class="wiof-water-widget-card-background widget-height">
  <mat-card-header class="wiof-water-widget-card-header">
    <mat-card-title class="title-text">Water Widget</mat-card-title>
  </mat-card-header>
  <mat-card-content class="water-widget-padding">
    <div scrollY="true" class="wiof-water-widget-items">
      <div class="flex flex-wrap">
        <div class="w-full text">
          <a style="cursor: pointer" (click)="about = !about">
            About Water Widget
            <mat-icon *ngIf="!about">expand_more</mat-icon
            ><mat-icon *ngIf="about">expand_less</mat-icon
          ></a>
          <p *ngIf="about" style="text-align: justify; color: #2d2d2d">
            Widget to understand India's water wealth and resources. Get access
            to telemetry based real time statistics on surface and ground water
            availability and Quality.
          </p>
        </div>
      </div>
      <div class="flex flex-wrap">
        <div
          class="w-1/2 sm:w-1/3 md:w-1/2 lg:w-1/3"
          *ngFor="let widgetItem of waterWidgetItems"
        >
          <mat-card
            class="wiof-water-widget-icons cursor-pointer"
            (click)="openUrl(widgetItem.url)"
          >
            <mat-card-header style="padding: 0px">
              <p class="wiof-water-widget-icons-text">
                {{ widgetItem.name }}
              </p>
            </mat-card-header>
            <mat-card-content class="wiof-water-widget-icons-text">
              <img src="{{ widgetItem.icon }}" alt="" />
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
    <div class="flex flex-wrap">
      <div class="w-full wiof-water-widget-disclaimer">
        <p>
          Above icons will take you to third party website which gives
          interactive map showing data which you select here.
        </p>
      </div>
    </div>
  </mat-card-content>
</mat-card>
