/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 */

/* Tailwind CSS imports */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Angular Material theme */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

/* Roboto font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

/* Global font family */
* {
  font-family: "Roboto", sans-serif !important;
}

/* Utility classes */
.text-center {
  text-align: center;
}

/* WIOF Element Colors */
.wiof-home { background-color: #fbb0ac; }
.wiof-home-light { background-color: #c1a182; }
.wiof-earth { background-color: #bded81; }
.wiof-energy { background-color: #ffebb8; }
.wiof-air { background-color: #e0caf5; }
.wiof-water { background-color: #dff3ff; }
.wiof-spirit { background-color: #f1dec6; }
