<app-header></app-header>
<div class="p-4">
  <div class="container mx-auto">
    <div class="flex flex-wrap">
      <div class="wiof-blog-col w-full lg:w-2/3 lg:mx-auto">
        <div class="blog-container">
          <div class="flex flex-wrap" *ngIf="(blogDetails | async) as blog">
            <div class="w-full">
              <h1>{{ blog.title }}</h1>
            </div>
            <div class="w-full">
              <ion-img [src]="(blog.image$ | async)"></ion-img>
            </div>
            <div class="w-full">
              <div>
                <ion-text *ngIf="blog.author">By {{blog.author}}</ion-text> |
                <span class="time-to-read"
                  ><mat-icon>timer</mat-icon>
                  {{blog.timeToRead}} min read</span
                >
              </div>
              <ion-text *ngIf="blog.publishDate"
                >Published on {{blog.publishDate | date }}</ion-text
              >
            </div>
            <div class="w-full">
              <app-back-button></app-back-button>
              <app-social-share></app-social-share>
            </div>
            <mat-divider></mat-divider>
            <div class="w-full">
              <ion-text
                style="text-align: justify; text-justify: inter-word"
                [innerHTML]="blog.content"
              ></ion-text>
            </div>
            <mat-divider></mat-divider>
            <div class="w-full">
              <h4>About {{blog.author}}</h4>
              <ion-text style="text-align: justify; text-justify: inter-word"
                >{{blog.aboutAuthor}}</ion-text
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-wiof-footer></app-wiof-footer>
</div>
