<app-header></app-header>
<ion-content>
  <div class="blog-post-wrapper" *ngIf="(blogDetails | async) as blog; else loading">

    <!-- Hero image with blurred background -->
    <div class="blog-hero" *ngIf="(blog.image$ | async) as blogImage">
      <div class="blog-hero-blur" [style.backgroundImage]="'url(' + blogImage + ')'"></div>
      <button class="blog-hero-trigger" type="button" (click)="openImage(blogImage, blog.title)" [attr.aria-label]="'Expand image: ' + blog.title">
        <img [src]="blogImage" [alt]="blog.title" class="blog-hero-img" />
        <span class="zoom-badge"><ion-icon name="expand-outline"></ion-icon></span>
      </button>
    </div>

    <ion-modal [isOpen]="!!expandedImageSrc" (didDismiss)="closeImage()" aria-label="Expanded blog image">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>{{ blog.title }}</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="closeImage()" aria-label="Close expanded image">
                <ion-icon name="close-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="expanded-image-content">
          <img [src]="expandedImageSrc" [alt]="expandedImageAlt" class="expanded-blog-image" />
        </ion-content>
      </ng-template>
    </ion-modal>

    <!-- Article -->
    <article class="blog-article"
      appBlogReadTracker
      [contentId]="blog.slug || blog.id"
      [wordCount]="getWordCount(blog)"
      (qualityReadComplete)="onReadComplete($event, blog.title)">

      <!-- Meta -->
      <div class="blog-meta-top">
        <app-back-button></app-back-button>
        <span class="blog-read-time">
          <ion-icon name="time-outline"></ion-icon>
          {{ blog.timeToRead }} min read
        </span>
      </div>

      <!-- Title -->
      <h1 class="blog-title">{{ blog.title }}</h1>

      <!-- Author + date -->
      <div class="blog-author-row">
        <div class="author-info">
          <span class="author-name" *ngIf="blog.author">By {{ blog.author }}</span>
          <span class="blog-date" *ngIf="blog.publishDate">{{ blog.publishDate | date: 'MMM dd, yyyy' }}</span>
        </div>
        <div class="author-actions">
          <button class="share-btn" (click)="shareBlog(blog)">
            <ion-icon name="share-social-outline"></ion-icon>
            Share
          </button>
          <app-bookmark-icon
            [contentId]="blog.slug || blog.id"
            contentType="blog"
            [contentTitle]="blog.title"
            [contentThumbnail]="blog.imageName">
          </app-bookmark-icon>
        </div>
      </div>

      <hr class="blog-divider" />

      <!-- Content -->
      <div *ngIf="blog.contentDelta; else htmlContent" class="blog-content-zoomable" (click)="onContentClick($event, blog.title)">
        <quill-view [content]="blog.contentDelta" format="object" theme="snow"></quill-view>
      </div>
      <ng-template #htmlContent>
        <div class="blog-content blog-content-zoomable" (click)="onContentClick($event, blog.title)" [innerHTML]="blog.content"></div>
      </ng-template>

      <hr class="blog-divider" />

      <!-- About author -->
      <div class="blog-about-author" *ngIf="blog.aboutAuthor">
        <h4>About {{ blog.author }}</h4>
        <p>{{ blog.aboutAuthor }}</p>
      </div>

    </article>
  </div>

  <ng-template #loading>
    <div class="blog-loading">
      <div class="skeleton" style="height: 300px; border-radius: 0;"></div>
      <div style="max-width: 780px; margin: 2rem auto; padding: 0 1rem;">
        <div class="skeleton" style="height: 32px; width: 80%; margin-bottom: 1rem;"></div>
        <div class="skeleton" style="height: 16px; width: 40%; margin-bottom: 2rem;"></div>
        <div class="skeleton" style="height: 14px; width: 100%; margin-bottom: 0.6rem;"></div>
        <div class="skeleton" style="height: 14px; width: 95%; margin-bottom: 0.6rem;"></div>
        <div class="skeleton" style="height: 14px; width: 90%; margin-bottom: 0.6rem;"></div>
      </div>
    </div>
  </ng-template>

  <app-wiof-footer></app-wiof-footer>
</ion-content>
