<app-header></app-header>

<div class="p-4">
  <h1 class="videos-header" [ngClass]="element">
    <div class="flex flex-wrap">
      <div class="w-1/2">
        <p class="header-text">{{category}} Videos</p>
      </div>
      <div class="w-1/2 text-right">
        <a
          [routerLink]="['take-action']"
          class="wiof-icon-only-btn"
          style="position: relative"
          title="Go to Take Action"
          aria-label="Go to Take Action"
        >
          <mat-icon>signpost</mat-icon>
        </a>
        <app-back-button></app-back-button>
      </div>
    </div>
  </h1>

  <div
    *ngIf="videos | async as videosList; else loading"
    class="videos-content"
    [ngClass]="element"
  >
    <div class="container mx-auto" *ngIf="videosList.length > 0">
      <div class="flex flex-wrap">
        <div
          class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 p-2"
          *ngFor="let video of videosList"
        >
          <app-video-card [video]="video" [element]="element"></app-video-card>
        </div>

        <!-- Infinite scroll pending -->
      </div>
    </div>

    <p
      *ngIf="videosList && videosList.length === 0"
      class="no-videos-container"
    >
      We could not find videos under
      <strong>{{ this.category }}</strong> category!
    </p>
  </div>

  <ng-template #loading>
    <div class="videos-content">
      <app-wiof-spinner></app-wiof-spinner>
    </div>
  </ng-template>

  <app-wiof-footer></app-wiof-footer>
</div>
