@import '../../wiof-custom-theming.scss';

.wiof-select {
  color: $dark-color;
}

.wiof-fire-widget-card-header {
  background-color: $energy-color;
  border-bottom: 2px solid white;
  color: $dark-color;
}

.inputbar::-webkit-input-placeholder {
  font-size: x-small;
}

#Diesel-main {
  position: relative;
}

#Petrol-main {
  position: relative;
}

#Diesel-sub {
}

@media only screen and (max-width: 600px) {
  #Diesel-sub {
  }

  #Petrol-sub {
  }
}

#Petrol-sub {
}

#Petrol {
}

body {
  overflow: auto;
}

.wiof-fire-widget-card-background {
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 14px 36px rgba(0, 0, 0, 0.12);
  margin: 0 !important;
  background-color: lighten($energy-color, 10%);
}

.energy-widget-content {
  max-height: 520px;
  overflow: auto;
  padding: 0.75rem;
}

.pump-station {
  height: 225px;
  width: 200px;
  margin: 1rem;

  .litresText {
    position: absolute;
    top: 15%;
    width: 80px;
    text-align: center;
    left: 55px;
    font-weight: bold;
    font-size: 15px;
  }

  .pump-image {
    height: 100%;
  }

  .label {
    position: absolute;
    bottom: 30%;
    left: 65px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    text-shadow: 1px 1px 5px #000;
  }
}

.unit-dropdown {
  background: #fff;
  border: 1px solid #ccc;
}

.unit-option {
  padding: 10px;
  cursor: pointer;
}

.unit-option:hover {
  background: #f2f2f2;
}
