<mat-card class="wiof-fire-widget-card-background widget-height">
  <mat-card-header class="wiof-fire-widget-card-header">
    <mat-card-title> Energy Widget </mat-card-title>
  </mat-card-header>
  <mat-card-content class="energy-widget-content">
    <div class="container mx-auto">
      <div class="flex flex-wrap pb-2"></div>
        <div class="w-full">
          <p style="text-align: justify; color: #2d2d2d">
            Widget to analyse your energy needs and assess the level of
            sustainability needed by you to save for the future ... An
            instrument for you to become the change you want in the eco-system.
          </p>
        </div>
      </ion-row>
      <div class="flex flex-wrap">
        <div class="w-full md:w-5/12 lg:w-full xl:w-5/12">
          <mat-form-field appearance="outline" class="w-full wiof-energy">
            <mat-label>Monthly Energy Consumption</mat-label>
            <input matInput
              [(ngModel)]="EnergyConsumption"
              placeholder="Monthly Energy Consumption"
            />
          </mat-form-field>
          <p *ngIf="Consumptionnull" style="color: red">
            Please enter a valid consumption
          </p>
        </div>
        <div class="w-full md:w-4/12 lg:w-full xl:w-4/12">
          <mat-form-field appearance="outline" class="w-full wiof-energy">
            <mat-label>Select Unit</mat-label>
            <mat-select [(ngModel)]="Selectedunit">
              <mat-option *ngFor="let unit of units" [value]="unit">{{
                unit | titlecase
              }}</mat-option>
            </mat-select>
          </mat-form-field>
          <p *ngIf="unitnull" style="color: red">Please select a unit</p>
        </div>
        <div class="w-full md:w-3/12 lg:w-full xl:w-3/12">
          <button
            (click)="CalculateCO2()"
            class="wiof-primary-btn full-width full-height"
          >
            <ion-icon name="calculator-outline"></ion-icon>Calculate
          </button>
        </div>
      </ion-row>
      <div class="flex flex-wrap">
        <div class="w-1/2">
          <div class="pump-station" *ngIf="buttonClicked">
            <span class="litresText"
              >{{ litresofPetrol | number: '1.0-0' }} litres</span
            >
            <img
              src="../../../assets/gas-station-icon.jpg"
              class="pump-image"
              alt="gas station icon"
            />
            <div class="label">Petrol</div>
          </div>
        </div>
        <div class="w-1/2">
          <div class="pump-station" *ngIf="buttonClicked">
            <span class="litresText"
              >{{ litresofDiesel | number: '1.0-0' }} litres</span
            >
            <img
              src="../../../assets/gas-station-icon.jpg"
              class="pump-image"
              alt="gas station icon"
            />
            <div class="label">Diesel</div>
          </div>
        </div>
      </ion-row>
    </div>
  </mat-card-content>
</mat-card>
