<mat-card *ngIf="inFocuses?.length > 0" class="wiof-in-focus-container">
  <mat-card-header class="wiof-video-player-header" [ngClass]="inFocusClass">
    <mat-card-title class="title-text"> {{ inFocusTitle }} </mat-card-title>
  </mat-card-header>
  <mat-card-content class="background" [ngClass]="inFocusClass">
    <ion-slides #slider [options]="slideOpts">
      <ion-slide *ngFor="let inFocus of inFocuses">
        <div class="container mx-auto">
          <div class="flex flex-wrap">
            <div class="w-full wiof-video-player-content">
              <iframe
                [title]="inFocus.title"
                class="videoPlayer"
                [src]="inFocus.sanitizedLink"
                allowfullscreen
              ></iframe>
            </div>
            <div class="w-full in-focus-content">
              <strong>{{ inFocus.subTitle }}</strong>
              <p>{{ inFocus.description }}</p>
            </div>
          </div>
        </div>
      </ion-slide>
    </ion-slides>
    <div
      *ngIf="inFocuses.length > 1"
      class="swiper-button-prev navigation-arrow-custom-styling"
      (click)="slider.slidePrev()"
    ></div>
    <div
      *ngIf="inFocuses.length > 1"
      class="swiper-button-next navigation-arrow-custom-styling"
      (click)="slider.slideNext()"
    ></div>
  </mat-card-content>
</mat-card>
