<mat-toolbar color="primary">
  <button mat-icon-button routerLink="/admin-dashboard">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span *ngIf="!isEditMode">{{ pageContent.addPollTitle }}</span>
  <span *ngIf="isEditMode">{{ pageContent.editPollTitle }}</span>
  <span class="flex-1"></span>
  <button mat-raised-button color="accent" class="text-lg mr-2" (click)="onSubmit()">
    {{ pageContent.savePollLabel }}
  </button>
  <button mat-button color="warn" class="text-lg" routerLink="">
    {{ pageContent.cancelLabel }}
  </button>
</mat-toolbar>

<div class="p-6">
  <form [formGroup]="addPollForm" (submit)="onSubmit()">
    <div class="container mx-auto">
      <div class="flex flex-wrap">
        <div class="w-full lg:w-1/2">
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>{{ pageContent.pollQuestionLabel }}</mat-label>
            <textarea matInput formControlName="question" rows="3"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="flex flex-wrap">
        <div class="w-full lg:w-1/2">
          <div formArrayName="options" class="flex flex-wrap">
            <div
              class="w-full md:w-1/2 p-2"
              *ngFor="let option of getOptionControls().controls; let i = index"
            >
              <div class="flex items-center gap-2">
                <mat-form-field appearance="fill" class="flex-1">
                  <mat-label>{{ pageContent.optionLabel }} {{ i + 1 }}</mat-label>
                  <input matInput [formControlName]="i">
                </mat-form-field>
                <button
                  mat-icon-button
                  color="warn"
                  type="button"
                  title="Remove this option"
                  (click)="removeOption(i)"
                >
                  <mat-icon>close</mat-icon>
                </button>
              </div>
            </div>
          </div>
          <div class="flex flex-wrap">
            <div class="w-full md:w-1/4 p-2">
              <button mat-raised-button color="accent" (click)="addOption()">
                {{ pageContent.addOptionBtnLabel }}
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-wrap">
        <div class="w-full md:w-1/2 lg:w-1/4 p-2">
          <mat-form-field appearance="fill">
            <mat-label>{{ pageContent.publishStartDateLabel }}</mat-label>
            <input
              matInput
              [matDatepicker]="publishStartDatePicker"
              formControlName="publishStartDate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="publishStartDatePicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #publishStartDatePicker></mat-datepicker>
            <p>
              <small class="text-gray-600">{{ pageContent.publishStartDateDesc }}</small>
            </p>
          </mat-form-field>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/4 p-2">
          <mat-form-field appearance="fill">
            <mat-label>{{ pageContent.publishEndDateLabel }}</mat-label>
            <input
              matInput
              [matDatepicker]="publishEndDatePicker"
              formControlName="publishEndDate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="publishEndDatePicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #publishEndDatePicker></mat-datepicker>
            <p>
              <small class="text-gray-600">{{ pageContent.publishEndDateDesc }}</small>
            </p>
          </mat-form-field>
        </div>
      </div>
      <div class="flex flex-wrap" *ngIf="isEditMode">
        <div class="w-full md:w-1/2 p-2">
          <mat-card>
            <mat-card-header>
              <mat-card-title class="poll-result-header">{{ pageContent.pollResultTitle }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="container mx-auto">
                <div class="flex flex-wrap">
                  <div
                    class="w-full lg:w-1/2 poll-options"
                    *ngFor="let option of pollQuestion.options; let i = index"
                  >
                    <span>{{ option | titlecase }}</span>
                    <div class="poll-bar">
                      <div
                        class="poll-bar-fill"
                        [style.width]="optionData['option' + (i + 1)]?.percent + '%'"
                      >
                        <span class="poll-percent"
                          >{{ optionData["option" + (i + 1)]?.percent | number:
                          "1.0-2" }}%</span
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </form>
</div>
