@import '../../admin-shared';

.input-close-icon {
  position: absolute;
  right: 0;
  top: 50%;
  cursor: pointer;
}

mat-form-field {
  width: 100%;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: var(--wiof-warm-white);
}

.poll-options {
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
}

.poll-bar {
  height: 20px;
  border: solid var(--wiof-brown-tint-40) 2px;
  margin-bottom: 5px;
  position: relative;
}

.poll-bar-fill {
  transition: 1s;
  height: 16px;
  border-right: solid var(--wiof-teal-shade-20) 2px;
  background-color: var(--wiof-teal);
}

.poll-percent {
  left: 5%;
  position: absolute;
  font-size: 11px;
  padding-left: 2%;
  color: var(--wiof-ink);
}

.poll-result-header {
  background: var(--wiof-teal);
  font-size: 16px;
  color: var(--wiof-warm-white);
}
