<mat-toolbar color="primary">
  <button mat-icon-button routerLink="/admin-dashboard">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>Manage Blogs</span>
  <span class="flex-1"></span>
  <div class="flex gap-2">
    <button mat-flat-button color="accent" (click)="refreshData()">
      <mat-icon>refresh</mat-icon>
      Refresh
    </button>
    <button mat-raised-button color="primary" (click)="addNewBlog()">
      <mat-icon>add</mat-icon>
      Add New Blog
    </button>
  </div>
</mat-toolbar>
<div class="p-4">
  <div class="container mx-auto" *ngIf="blogList$ | async as blogList">
    <div class="flex flex-wrap item-divider-line">
      <div class="w-full md:w-1/12 flex items-center"
        ><strong>Sr</strong></div
      >
      <div class="w-full md:w-5/12 flex items-center"
        ><strong>Title</strong></div
      >
      <div class="w-full md:w-2/12"><strong>Category</strong></div>
      <div class="w-full md:w-2/12"><strong>Date</strong></div>
      <div class="w-full md:w-2/12 action-heading"
        ><strong>Actions</strong></div
      >
    </div>
    <div
      *ngFor="let blog of blogList; let i = index"
      class="flex flex-wrap item-divider-line"
    >
      <div class="w-full md:w-1/12 flex items-center">{{ i + 1 }}</div>
      <div class="w-full md:w-5/12 flex items-center"
        >{{ blog.title }}</div
      >
      <div class="w-full md:w-2/12 flex items-center"
        >{{blog.category | uppercase}}
      </div>
      <div class="w-full md:w-2/12 flex items-center"
        >{{blog.submitDate | date}}</div
      >
      <div class="w-full md:w-2/12">
        <div class="flex gap-2">
          <button
            mat-icon-button
            title="Click to view blog details"
            (click)="viewBlogDetails(blog)"
          >
            <mat-icon>visibility</mat-icon>
          </button>
          <button
            mat-icon-button
            color="warn"
            (click)="deleteBlog(blogList, i, blog.id, blog.imageName)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
